body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color:#222;
    margin: 0;
    padding: 0;
}
 
.contenedor-G{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
}

/* navegador desde aqui */
.nav {
    display: flex;
    flex-direction: row-reverse;
    padding: 6px;
    align-items: center;
    margin-right: 10px;
}

.img-prof {

    width: 36px;
    height: 36px;
    padding:0px;
    border-radius: 50%;
    margin: 4px;
}
.img-prof:hover{
  width: 36px;
  height: 36px;
  border: 5px solid #eef0f1;
  border-radius: 50%;
  padding: 0px;
  margin: 4px;
  
}

.menu-log{
    padding: 10px;
    border-radius:50%;
    margin: 4px;
}
.menu-log:hover{
    border: 10px solid #eef0f1;
    border-radius: 50%;
    padding: 0px;

}
.enl-image{
    padding: 10px;  
}


.a-enl{
    text-decoration: none;
    color: #222;
}

.a-enl:hover{
    text-decoration-line:underline ;
}
.enl-gmail{
    padding:10px;
    
}

.enl-gmail:hover{
    text-decoration-line:underline ;
}
/* navegador hasta aqui */

/*desde aqui esta el logo, buscador, botones, opciones de idioma*/

 .main-l{
    
     align-items: center;
     display:row;
     justify-content: center;
    
 }  

.Logo-google{
    width:302px;
    height:112px;
    align-items:flex-end;
    margin-top: 7em;
}
.div-logo-google {
    width: auto;
    height: 196px;
    display:flex;
    justify-content:space-around;


}
section{
    width: auto;
    height: 386px;

}

.lupa{
    width: 20px;
    height: 20px;
    align-items: center;
    padding: 15px 10px;
}
.microphone{
    width: 18.77px ;
  height: 32px;
  padding: 10px 15px;
}
form{
    margin-top:50px ;
    width: 582px;
    height: 48px;
    border-style: solid;
    border: 1px solid #dadce0;
    border-radius: 5% / 40%; 
    justify-content: space-between;
    display:flex; 
    background: #fff;
}
.form1:hover{
    box-shadow:0px 0px 10px 8px #eef0f1;
    
    
}
.div-form{
    display: flex;
    justify-content: center;
}
.div-centrado{
    width: auto;
    height: 390px;
    justify-content: space-between; 
    align-items: center;

}
.button-c{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    
}
button{
    background: #eef0f1;
    border: 1px solid #eef0f1;
    border-radius:4px;
    color:#3c4043;
    font-size:16px;
    margin: 11px 4px;
    text-align: center;
    padding: 15px 21px;
    

}
.loki:hover{
   
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124; 
}
.lang-c{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.a-enl2{
    padding: 0px 4px;
    text-decoration: none;
}

.a-enl2:hover{
    text-decoration-line:underline ;
}

/*hasta aqui esta el logo, buscador, botones, opciones de idioma*/

/*footer*/
.footer{
    background: #f2f2f2;
    
}
.pais{
    display: flex;
    padding: 15px 30px;
    
    height: 48px;
    font: 15px arial, sans-serif;
    color:rgba(0,0,0,.54);
    align-items:center;
   border-bottom:1px solid #dadce0;
}

.bottom-line{
    display: flex;
    justify-content: space-between;
    padding:10px ;
}

.enl-bottom1{
    text-decoration: none;
    font: 15px arial, sans-serif;
    color:rgba(0,0,0,.54);
    padding: 10px;
    
}
.enl-bottom1:hover{
    text-decoration-line:underline ;
}


